.main {
  text-align: center;
}

.title {
  color: #d9d9d9;
}

.subtitle {
  color: #000;
}

.title,
.description {
  text-align: center;
}

.filters {
  display: inline-block;
  text-align: center;
}
